@import '../../variables';

:root{
  --clr-neon: hsl(233deg 91% 57%);
  --clr-bg: black
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.main-section {
  height: 100vh;
  background: #020b1b;

  .head-wrap {
    display: flex;
    flex-direction: column;
    // height: 10%;
    align-items: center;
    padding: 30px 100px 30px 100px;
    // background: #121119;
    background: #3a62c1;
    color: white;
    justify-content: space-between;

    h1 {
      font-size: 3.5rem;
      font-weight: 800;
      flex-direction: row;
      display: flex;

      span {
        padding-left: 8px;
      }
    }

    hr {
      height: 1px;
      width: 100%;
      background: gray;
    }

    .head-user {
      display: flex;
      flex-direction: row;
      align-items: baseline;

      .username {
        font-size: 1.65rem;
        color: white;
      }

      h2 {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        padding: $linkSpace;
        align-items: center;
        cursor: pointer;
        color: rgb(184, 184, 184);
        &:hover {
          color: white;
        }

        span {
          padding: 5px 0 0;
        }
      }
  
      .head-link {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        padding: $linkSpace;
        align-items: center;
        cursor: pointer;
        color: rgb(184, 184, 184);
        text-decoration: none;
        &:hover {
          color: white;
        }

        span {
          font-size: 1.5rem;
          padding: 5px 0 0;

        }
      }

      .verticle-line {
        border-left: 6px solid $blue;
        height: 100%;
        width: 3px;
        margin: 0 5px;
      }

      .header-link {
        span {
          @media (max-width: $laptopMd){
            font-size: 1rem;
          }
        }
      }
    }
  }

  .main-wrap {
    display: flex;
    flex-direction: column;
    padding: 0 15rem;
    width: 100%;
    @media (max-width: $laptopSm){
      // flex-direction: column;
      padding: 0;
    }

    .play-wrap {
      width: 100%;
      height: 200px;
      align-items: center;
      /* text-align: center; */
      display: flex;
      justify-content: center;
      flex-direction: column;
      @media (max-width: $laptopSm){
        width: auto;
        height: 150px;
      }

      button {
        font-size: 3rem;
        background: rgb(0 0 0 / 0%);

        &:hover {
          background: hsl(233deg 91% 57%)
        }
      }

      .play-header {
        
        h2 {
          font-size: 3rem;
          // color: hsl(233deg 91% 57%);
          color: white;
          padding-bottom: 15px;
          text-shadow: 0 0 0.125em hsl(233deg 91% 57%), 0 0 0.45em currentColor;
        }
      }

      .play-button {
        display: flex; 
        flex-direction: row;
      }
    }

    .leaderboard-wrap {
      width: 100%;
      @media (max-width: $laptopSm){
        width: auto;
        // height: 150px;
      }
    }
  }

  .bottom-wrap {
    height: 25%;
    display: flex;
    padding-right: 50px;
    justify-content: flex-end;
    align-items: center;

    .chat-box {
      font-size: 3rem;
      width: 100%;
      align-self: center;
    }
  }
}


.neon-button {
  font-size: 4rem;
  margin: 0 15px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: hsl(233deg 91% 57%);
  border: hsl(224deg 91% 57%) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(233deg 91% 57%), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 hsl(233deg 91% 57%), 0 0 0.5em 0 hsl(233deg 91% 57%);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 4em 3.5em hsl(233deg 91% 57%);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: black;
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
}